@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Daniël Codes</h1>
    <p>Mijn persoonlijke website waarin ik mijn progressie in het leren van programmeren vastleg</a>.</p>
</div>
